:root {
  --main-colour: #02028E;
  --accent-colour: #ffff;
  --margin-unit: 80px;
}

* {
  font-family: sans-serif;
  margin: 0;
}

body {
  background-color: var(--accent-colour);
}
.navbar {
  background-color: var(--main-colour);
  color: var(--accent-colour);
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

#link-home {
  color: var(--accent-colour);
  text-underline-offset: 5px;
}

.links {
  width: 50%;
}

.links>ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-underline-offset: 5px;
}

.navbar-links {
  color: var(--accent-colour);
  margin-left: 10px;
}

.day-night-toggle {
  display: flex;
}

.day-night-toggle>p {
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #02028E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #02028E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


main {
  background-color: var(--accent-colour);
  color: var(--main-colour);
}

.header {
  display: inline-block;
  margin-block: var(--margin-unit);
  margin-left: 100px;
}

.header::after {
  content: "";
  position : absolute;
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--main-colour);
}

h1 {
  margin-top: calc(0.625 * var(--margin-unit));
  font-size: 50px;
}

h2 {
  font-weight: 100;
  margin-top: calc(0.25 * var(--margin-unit));
  padding-bottom: 20px;
}

.love {
  margin-bottom: var(--margin-unit);
  margin-left: 100px;
}

.love>h3 {
  margin-bottom: calc(0.25 * var(--margin-unit));
  font-size: 20px;
}

.love-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(0.625 * var(--margin-unit));
}

.love-content>div {
  width: 180px;
  margin: 0px 20px 10px 0px;
}

.love-icon {
  width: 30px;
  margin-bottom: 10px;
}

.work {
  background-color: #ffff;
  width: 100%;
  padding-top: 20px;
  padding: 50px 0px 50px 100px;
}

.work>h3 {
  color: #02028E;
  margin-bottom: calc(0.25 * var(--margin-unit));
  font-size: 20px;
}

.work>a{
  color: #02028E;
}

.work-content {
  display: flex;
  flex-wrap: wrap;
}

.work-img {
  height: 40px;
  margin: 10px 40px 40px 0px;
}
